.nw-c-toggle-button__indicator--add {
    background-color: #006ef0;
}

.nw-c-toggle-button__indicator--large{
    min-width: 32px;
    height: 32px;
}

.nw-c-toggle-button__indicator--medium{
    min-width:28px;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;

}

.nw-c-toggle-button__indicator {
    display: table-cell;

    vertical-align: middle;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.nw-c-toggle-button__indicator + .slice-header--title,  .nw-c-toggle-button__indicator + .topic-tag__name{
    margin-left: halve($gel-spacing-unit);
  }
.nw-c-toggle-button__indicator + .slice-header--title{
    margin-left: $gel-spacing-unit;
    a{line-height:32px;}
  }
.add-text{
  padding-left: 4px;
}

.slice-header--title{
  margin-right: double($gel-spacing-unit);
}
