/*------------------------------------*\
    # SLICE HEADER
\*------------------------------------*/

.slice-header{
  position: relative;
  padding-bottom: double($gel-spacing-unit);
  margin-top: 0;
  padding-top: 0;
  vertical-align: bottom;

}
.slice-header--title{
  display: inline-block;
}
.slice-header--controls{
  position: absolute;
  right: 0;
  top: halve($gel-spacing-unit);
}

.topic-collection {
    .slice-header {
      margin-top: 0;
    }
    .slice-header--keyline {
      &:after {
        display: none;
      }
    }
  }


.topic-collection + {
  & .iodine--wrap, & .caesium--wrap, & .astatine--wrap {
    .slice-header--keyline {
      &:after {
        display: none;
      }
    }
  }
}
