/*------------------------------------*\
    # SLICE HEADER
\*------------------------------------*/

.slice-header{
  position: relative;
  padding-bottom: double($gel-spacing-unit);
  margin-top: quadruple($gel-spacing-unit);
  padding-top: 0;

}
.slice-header--title{
  display: inline-block;
}
.slice-header--controls{
  position: absolute;
  right: 0;
  top: halve($gel-spacing-unit);
}

.slice-header--keyline:after{
  position: absolute;
    right: 0px;
    border-top: 1px solid #dbdbdb;
    content: ' ';
    @include mq($from:gel-bp-xs) {
    left: double($gel-spacing-unit);
    top: double(-$gel-alt-spacing-unit);
    }
    @include mq($from:gel-bp-xxl) {
    left: double($gel-alt-spacing-unit);
    }
}

.topic-collection {
    .slice-header {
      margin-top: 0;
    }
    .slice-header--keyline {
      &:after {
        display: none;
      }
    }
  }


.topic-collection + {
  & .iodine--wrap, & .caesium--wrap, & .astatine--wrap {
    .slice-header--keyline {
      &:after {
        display: none;
      }
    }
  }
}
