// _mixins.scss
//

@mixin cldr-clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin cldr-nav {
  list-style: none;
  padding-left: 0;

  > li {

    a {
      display: block;
    }
  }
}

@mixin cldr-nav--inline {
  @include cldr-clearfix;

  > li {
    float: left;
  }
}

@mixin cldr-ff-monaco {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}
