// _molecules
//

// Content
// - Contributor

.contributor {
  display: table;
  width: 100%;
}
  .contributor__avatar {
    padding-right: 12px;

    > img {
      display: block;
      max-width: none;
    }
  }
  .contributor__body {
    width: 100%;
  }

  .contributor__avatar,
  .contributor__body {
    display: table-cell;
    vertical-align: middle;
  }
    .contributor__name {
      @extend %brilliant;
      @extend %brilliant--bold
    }
    .contributor__title {
      @extend %brilliant;
    }

    .contributor__name,
    .contributor__title {
      display: block;
    }

// - Metadata

.metadata {
  @include nav;
  margin-top: 8px;
  margin-bottom: 0;

  li {
    @extend %brevier;
    border-right: 1px solid $keyline;
    margin-right: 6px;
    padding-right: 6px;

    &:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }
  a {}
  .icon {
    margin-right: 4px;
  }
}
  .metadata__time {
    color: $summary-copy;

    .icon svg {
      fill: $summary-copy;
    }
  }
  .metadata__section {}
  .metadata__comments {}

.see-also {
  @include nav;
  @include nav--stacked;
  @include branch;
  margin-top: 8px;
  margin-bottom: 0;

  li {

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    @extend %brilliant;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .label--icon {
    margin-right: 4px;
  }
}

// Units
// - Promo

.promo {

  .image {
    display: block;
  }
  h3 {
    @extend %great-primer, %great-primer--bold;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    @extend %long-primer;
    color: $summary-copy;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
  .promo__thumb {
    position: relative;
    margin-bottom: 8px;

    // Label's inside thumbs get positioned absolutely
    .promo__label {
      position: absolute;
      top: 0; left: 0;
      z-index: 10;
    }
  }
    .promo__label {
      margin-bottom: 8px;
    }
