
// GEL Components
@import 'GEL/settings.global';
@import 'GEL/generic.box-sizing';
@import 'GEL/generic.normalize';
@import 'GEL/generic.reset';


@import 'bower_components/bbc-grandstand/grandstand';

// Objects
@import 'bower_components/bbc-grandstand/objects/live-status';
@import 'bower_components/bbc-grandstand/objects/list-ui';

$enhanced: true;

@import 'bower_components/gel-sass-tools/sass-tools';

// TOOLS
@import 'tools/theme';

// ATOMS
@import 'atoms/news-colours';
@import 'atoms/timestamp';
@import 'atoms/section-tag';
@import 'atoms/faux-block-link';
@import 'atoms/icons';
@import 'atoms/typography';
@import 'atoms/layout';
@import 'atoms/list-inline';
@import 'atoms/item-status';
@import 'atoms/more-btn';
@import 'atoms/media-island';
@import 'atoms/media-icon';
@import 'atoms/arrow';
@import 'atoms/branch';

// molecules
@import 'molecules/key-points';
@import 'molecules/contributer';
@import 'molecules/table';
@import 'molecules/form-guide';
@import 'molecules/movement';
@import 'molecules/slice-header';
@import 'molecules/av-live';
@import 'molecules/topic-tag';
@import 'molecules/add-button';
@import 'molecules/slice-cutter';

// UTILITIES
@import 'utilities/visability';
@import 'utilities/columns';
@import 'utilities/text-over-image';

// TRUMPS
@import 'trumps/orb-hacks';

// COMPONENTS
@import 'components/tab-selector/tab-selector';


// ORGANISMS

@import 'organisms/babka';
@import 'organisms/curium';
@import 'organisms/caesium';
@import 'organisms/indium';
@import 'organisms/iodine';
@import 'organisms/astatine';
@import 'organisms/gallium';
@import 'organisms/erbium';
@import 'organisms/most-popular';
@import 'organisms/babel';
@import 'organisms/oxygen';

@include mq($from:gel-bp-xxl){
  .gel-layout__item {
      padding-left: 24px;
  }


  .gel-layout {
    margin-left: -24px;
  }
}
