/*------------------------------------*\
    # BRANCH
\*------------------------------------*/

.branch{
  position: relative;
  &:before{
    content: '';
    display: block;
    background-color: $white;
    height: 2px;
    width: 72px;
    position: absolute;
    top: -$gel-spacing-unit;
  }
  &.topic--slice{
     &:before{
      background-color: $white;
     }
  }
}

