///*--------------------------------------------*\
//    # OXYGEN USED MOSTLY FOR TOPIC COLLECTIONS
//\*--------------------------------------------*/

.oxygen--wrap{
  position: relative;
  margin-top: double($gel-alt-spacing-unit);


   .topic-tag__list-item{
    .topic-tag__name{
      color: $white;
      -webkit-font-smoothing: subpixel-antialiased;
      background-color:transparent;
      border-color: $white;
      &:hover{
        color: #000;
        background-color:$white;
      }
    }
   }
}

.oxygen__item--1{
 padding-bottom: double($gel-spacing-unit);
 background-color: transparent;
}

.oxygen__item--2,
.oxygen__item--3,
.oxygen__item--4 {
  position: relative;
  min-height: 258px;

  .oxygen--slot{
  background-color: #fff;
  box-shadow:0px 0px 3px rgba(162, 162, 162, 0.42);
  }
}

@include mq($from:gel-bp-xs, $until:gel-bp-xxl) {
    .oxygen__item--2,
    .oxygen__item--3,
    .oxygen__item--4 {
    padding-bottom: double($gel-spacing-unit);
  }
}

@include mq($from:gel-bp-l) {
    .oxygen__item--2,
    .oxygen__item--3,
    .oxygen__item--4 {
     margin-top: double(-$gel-alt-spacing-unit);
 }
}

@include mq($from:gel-bp-xxl) {
    .oxygen__item--2,
    .oxygen__item--3,
    .oxygen__item--4 {
    margin-top: double(-$gel-alt-spacing-unit);
 }
}

.oxygen--content{
  position: relative;


 }



  .oxygen__meta{
    position: absolute;
    bottom: 0;
  }

.oxygen--slot{
  width: 100%;

}

.oxygen--wrap +
 & .iodine--wrap,
 & .caesium--wrap{
 .slice-header--keyline:after{
  display: none;
 }

}


.oxigen--item{
  position:relative;
  padding-bottom: double($gel-alt-spacing-unit);
  background-size: cover;
  background-position: center center;
   @include mq($from:gel-bp-xs, $until:gel-bp-l) {
    background-position-y: 32px;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  &:before{
    background-color:rgba(0, 0, 0, 0.6);
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;

    @include mq($from:gel-bp-xs, $until:gel-bp-l) {
      top: 32px;
    }
  }
 }

 .slice-header--bottom-left{
  position:absolute;
  bottom: 0;
  right: 0;
  .next__icon{
    vertical-align: bottom;
    color: $turquoise;
  }
 }

.new-topic {
   .oxygen__item--5{
    .oxygen--slot{
        @include mq($from:gel-bp-xxl){
    position: absolute;
    bottom: 0;
    left: 0;
  }
  }
}
}
